* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #F3F5FC;

}
#dibujo{
  padding-bottom: 2em;

}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.letras{  
  display: flex;
  border-bottom: 5px solid #0A3871;
  background: inherit;
  height: 50px;
  width: 55px;
  margin-right: 10px;
  margin-left: 4px; 
  justify-content: center;
  font-family: 'Inter', sans-serif;
  color: #0A3871;
  font-size: 48px;
  line-height: 40px;

}
#casilleros{
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
 
}
.letraIncorrecta {
  display: flex;
  background: inherit;
  height: 50px;
  width: 55px;
  margin-right: 10px;

  font-family: 'Inter', sans-serif;
  color: #495057;
  font-size: 24px;
  line-height: 40px;
  justify-content: center;
}
.incorrectas {
  margin-left: 10px;
  margin-bottom: 25px;
  display: flex;
}
.control {
  width: 320px;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
}
.active-btn {
  width: 320px;
  height: 60px;
  background-color: #0A3871;
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}  
.footer {
  border-style: solid;
  height: 90px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 800;
}
i {
  padding: 10px;
}
.nombre {
  padding-left: 20px;
  padding-right: 20px;
  
}